<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <h2>Add Facebook Login to your webpage</h2>

    <!-- Set the element id for the JSON response -->

    <p id="profile"></p>
    <div
      class="fb-login-button"
      data-width=""
      data-size=""
      data-button-type=""
      data-layout=""
      data-auto-logout-link="false"
      data-use-continue-as="false"
    ></div>
    <div id="fb-root"></div>
    <script>
      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");

      window.fbAsyncInit = function () {
        FB.init({
          appId: "317289147672827",
          xfbml: true,
          version: "v18.0",
        });

        FB.login(function (response) {
          if (response.authResponse) {
            console.log("Welcome!  Fetching your information.... ");
            FB.api("/me", { fields: "name, email, id" }, function (response) {
              Swal.fire({
                icon: "success",
                title: "Fetching your information....",
                text: `Welcome! ${response.name}`,
              });
              const idFb = response.id;
              console.log(idFb);
              const url =
                "https://gamedatn.andemongame.tech/games/loginpayment?token=" +
                idFb;

              fetch(url, {
                method: "GET",
                headers: {
                  "Content-Type": "application/json",
                },
              })
                .then((res) => res.json())
                .then((res) => {
                  localStorage.setItem("data", res);
                  if (res.id) {
                    window.location.href = "https://thanhan.andemongame.tech/tes/PayWeb/index.html";
                  } else {
                    alert("Đăng nhập thất bại");
                  }
                });
            });
          } else {
            console.log("User cancelled login or did not fully authorize.");
          }
        });
      };
      // const loginApi =  (id)=>
      //   fetch(`https://gamedatn.andemongame.tech/games/loginpayment?token=${id}`,{
      //     method: 'POST',
      //     headers: {
      //       'Content-Type': 'application/json'
      //     },
      //   }).then(res => res.json())
      //   .then(res => {
      //     console.log(data)
      //     localStorage.setItem('data', data.data)
      //     window.location.href = 'https://thanhan.andemongame.tech/tes/PayWeb/index.html'
      //   }).catch(err)
      //   Swal.fire({
      //     icon: "error",
      //     title: "Lỗi",
      //     text: "Kiểm tra lại!",
      //   });
      //   console.log(err)
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
