<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/framework.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/dot.png" />
    <title>Lịch sử mua trang phục súng</title>
  </head>

  <body>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div class="page d-flex">
      <div class="sidebar bg-white p-20 p-relative">
        <a href="/"><img
            class="p-relative txt-c mt-0 logo"
            src="/images/dot.png"
            alt="Logo"
          /></a>
        <ul>
          <li>
            <a class="d-flex align-c fs-14 c-black rad-6 p-10" href="/">
              <i class="fa-solid fa-house fa-fw"></i>
              <span class="hide-mobile">Trang chủ</span>
            </a>
          </li>
          <li>
            <p class="d-flex align-c fs-14 c-grey rad-6">
              <span class="hide-mobile">Game</span>
            </p>
          </li>
          <li>
            <a class="d-flex align-c fs-14 c-black rad-6 p-10" href="/players">
              <i class="fa-solid fa-user fa-fw"></i>
              <span class="hide-mobile">Người chơi</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-c fs-14 c-black rad-6 p-10" href="/gunskins">
              <i class="fas fa-fire-extinguisher fa-fw"></i>
              <span class="hide-mobile">Trang phục súng</span>
            </a>
          </li>
          <li>
            <a
              class="active d-flex align-c fs-14 c-black rad-6 p-10"
              href="/transactions"
            >
              <i class="fa-solid fa-diagram-project fa-fw"></i>
              <span class="hide-mobile">Lịch sử mua skin</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-c fs-14 c-black rad-6 p-10" href="payments">
              <i class="fa-solid fa-file-invoice-dollar fa-fw"></i>
              <span class="hide-mobile">Lịch sử thanh toán</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-c fs-14 c-black rad-6 p-10" href="/donates">
              <i class="fa-regular fa-credit-card fa-fw"></i>
              <span class="hide-mobile">Tiền được ủng hộ</span>
            </a>
          </li>
          <li>
            <p class="d-flex align-c fs-14 c-grey rad-6">
              <span class="hide-mobile">Admin</span>
            </p>
          </li>
          <li>
            <a class="d-flex align-c fs-14 c-black rad-6 p-10" href="/users">
              <i class="fa-solid fa-user-gear fa-fw"></i>
              <span class="hide-mobile">Users cPanel</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="content w-full overflow-h">
        <!-- Start Header -->
        <div class="header bg-white p-15 between-flex">
          <div class="p-relative">
            <h2 class="p-10 rad-10">cPanel Dark Disquite</h2>
          </div>
          <div class="icons d-flex align-c">
            <span class="notification p-relative">
              <i class="fa-regular fa-bell fa-lg"></i>
            </span>
            <img src="images/header.png" alt="AbdulJaleel" id="avatar" />
            <div class="user-info" id="user-info">
              <button
                class="btn-shape c-white bg-333"
                type="btn-ChangePassword"
                onclick="clickOpenChangePass()"
              >Đổi mật khẩu</button>
              <button
                class="btn-shape c-white bg-333"
                type="button"
                id="logout-button"
              >Đăng xuất</button>
            </div>
          </div>
        </div>
        <script>

          const avatar = document.getElementById('avatar'); const userInfo =
          document.getElementById('user-info'); const logoutButton =
          document.getElementById('logout-button'); let isShown = false;
          avatar.addEventListener('click', () => { isShown = !isShown; if
          (isShown) { userInfo.style.display = 'block'; } else {
          userInfo.style.display = 'none'; } });
          logoutButton.addEventListener('click', () => { window.location.href =
          '/login'; localStorage.clear();}); // Xử lý click nút đăng xuất

        </script>
        <!-- End Header -->
        <!-- Start Projects -->
        <script src="/javascripts/transactions.js"></script>
        <div class="projects-section p-20">
          <div class="add">
            <h1 class="main-heading">Giao dịch mua súng trong game</h1>
            <a href="/transactions/transactionsplayer"><span
                class="one btn-shape rad-6 c-white bg-333"
              >Xem theo Player</span></a>
          </div>
          <div class="projects" id="transaction-container">

          </div>
        </div>
      </div>
    </div>
    <div id="dialog" class="dialog">
    </div>
    <script src="/javascripts/changePass.js"></script>
    <div id="dialogChangePass" class="dialogChangePass">
      <div class="dialog-contentChangePass">
        <span class="close" onclick="closeDialogChangePass()">
          <i class="fa-sharp fa-solid fa-xmark fa-xl"></i>
        </span>
        <span class="fs-25">Đổi mật khẩu nè!</span>
        <div class="mt-30">
          <span class="fs-15 mr-25">Mật khẩu cũ: </span>
          <input class="inputAddSkin ml-5" type="password" id="ipOldPass" />
        </div>
        <div>
          <span class="fs-15 mr-25">Mật khẩu mới: </span>
          <input class="inputAddSkin" type="password" id="ipNewPass" />
        </div>
        <div>
          <span class="fs-15 mr-10">Xác nhận khẩu mới: </span>
          <input class="inputAddSkin" type="password" id="ipReNewPass" />
        </div>
        <p
          style="text-align: center; font-size:medium; margin-left: 40px; color:red"
          id="errValue"
        ></p>
        <button
          class="btn-shape c-white bg-blue width-fit left-flex mt-10"
          onclick="changePassword()"
        >Đổi mật khẩu</button>
      </div>
    </div>
  </body>

</html>